<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
        <br>
        <h1>Pet Profiles</h1>
        </div>
        <br>
        <div>
            <nav class="newPup">
                <a href="/fetch/new">Add a Pup</a>
        </div>
        </nav>
        <hr class="solid">
        <br><br>

        <body>

            <div id="petBox">
                <% for (let i=0; i<fetchPup.length; i++){ %>
                    <div class="petProfile">
                        <a id="pupName" href="/fetch/<%=fetchPup[i]._id%>">
                            <%=fetchPup[i].nameOfPet%>
                        </a>
                        <div id="ownerName">
                            <%=fetchPup[i].ownerFirstName%>
                                <%=fetchPup[i].ownerLastName%>
                        </div>
                        <br>
                        <div id="indexColor">
                            <%=fetchPup[i].colorOfPet%>
                        </div>
                        <div id="indexSize">
                            <%=fetchPup[i].sizeOfPet%>
                        </div>
                    </div>
                    <br>
                    <% }%>
            </div>
        </body>
        <%- include ('./partials/footer.ejs') %>

</html>