<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a User</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="https://kit.fontawesome.com/a47001bced.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Edit <%=fetchUser.nameOfPet%>'s Page</h1>
    <form action="/fetch/<%=fetchUser._id%>?_method=PUT" method="POST">
        <input type="text" placeholder="Owner First Name" name="ownerFirstName" value="<%=fetchUser.ownerFirstName%>"><br><br>
        <input type="text" placeholder="Owner Last Name" name="ownerLastName" value="<%=fetchUser.ownerLastName%>"><br><br>
        <input type="text" placeholder="color" name="color" value="<%=fetchUser.colorOfPet%>"><br><br>
        <input type="text" placeholder="size" name="size" value="<%=fetchUser.sizeOfPet%>"><br><br>
        <input type="number" placeholder="age" name="age" value="<%=fetchUser.ageOfPet%>"><br><br>
        
        <input type="submit" name="" value="Save Changes"/>
    </form>
</body>
</html>